.global-header {
    background: #00293d;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    height: 110px;
}

.global-header .lang-switch {
    width: 80px;
    height: 40px;
    padding: 0;
    margin: 0;
    line-height: 40px;
    font-size: 16px;
    background: #00293d;
    color: #9bccd2;
    border: 1px solid #9bccd2;
    -webkit-appearance: none;
    text-indent: 10px;
}

.global-header li > a {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #abdce1;
    text-align: left;
    border-radius: 4px;
}

.global-header .nav > li > a:hover, .global-header .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #b8e1d3;
}

.global-header .fa {
    color: #abdce1;
}

.global-header .site-logo {
    margin: 30px 0 0;
    z-index: 1;
    background: url("/img/logo.png") no-repeat;
    height: 51px;
    width: 171px;
    overflow: hidden;
}

.global-header .site-logo a {
    display: block;
    height: 51px;
    width: 171px;
}

.global-header nav {
    margin: 30px 0 0;
}

.homepage-intro {
    background: #214f62;
    position: relative;
    height: 600px;
}

.homepage-intro .lead-label,
.homepage-item-list .info-feature .lead-label,
.homepage-item-list .info-recent .lead-label {
    position: relative;
    z-index: 1;
    height: 68px;
    width: 200px;
    margin: 120px auto 40px;
    overflow: hidden;
    cursor: default;
}

.homepage-intro .lead-label h2,
.homepage-item-list .info-feature .lead-label h2,
.homepage-item-list .info-recent .lead-label h2 {
    z-index: 2;
    margin: 0;
    font-size: 35px;
    line-height: 62px;
    text-align: center;
    color: #a6d4d7;
}

.homepage-intro .lead-label h2 .fa,
.homepage-item-list .info-feature .lead-label h2 .fa,
.homepage-item-list .info-recent .lead-label h2 .fa {
    margin-left: 8px;
    font-size: 50px;
    line-height: 68px;
    vertical-align: middle;
    margin-right: 14px;
}

.homepage-intro .lead-label h2 span,
.homepage-item-list .info-feature .lead-label h2 span,
.homepage-item-list .info-recent .lead-label h2 span {
    line-height: 68px;
    font-size: 35px;
    vertical-align: middle;
}

.container-en-us.homepage-intro .lead-label h2 span,
.container-en-us.homepage-item-list .info-feature .lead-label h2 span,
.container-en-us.homepage-item-list .info-recent .lead-label h2 span {
    line-height: 68px;
    font-size: 20px;
    vertical-align: middle;
}

.homepage-intro .bg-border-container,
.homepage-item-list .info-feature .bg-border-container,
.homepage-item-list .info-recent .bg-border-container {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 17px;
    transform: rotate(7deg);
}

.homepage-intro .bg-border,
.homepage-item-list .info-feature .bg-border,
.homepage-item-list .info-recent .bg-border {
    border: 1px solid #fff;
    height: 67px;
    margin: 0 auto;
    width: 172px;
    transform: skewY(173deg);
    text-indent: 0;
    line-height: 69px;
    font-size: 35px;
}

.homepage-intro p {
    position: relative;
    z-index: 1;
    font-family: HelveticaNeue;
    font-size: 18px;
    color: #ffffff;
    line-height: 25px;
}

#particles-js-cn,
#particles-js-en {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.homepage-item-list .info-item {
    height: 600px;
}

.homepage-intro a {
    color: #a6d4d7;
}

.homepage-intro a:hover {
    color: #70d7cd;
}

.homepage-intro .download-button {
    position: relative;
    z-index: 1;
    font-size: 18px;
    border-radius: 32px;
    width: 260px;
    height: 60px;
    line-height: 60px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.26);
    background: #ef4f40;
    border-color: #e83b2b;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    display: block;
    color: #fefefe;
}

.homepage-intro .download-button:hover {
    color: #fff;
}

.homepage-intro .download-button:active:hover, .homepage-intro .download-button.active:hover, .homepage-intro .download-button:active:focus, .homepage-intro .download-button.active:focus, .open > .dropdown-toggle.homepage-intro .download-button:focus, .homepage-intro .download-button:active.focus, .homepage-intro .download-button.active.focus, .open > .dropdown-toggle.homepage-intro .download-button.focus {
    background: #dc3f30;
    border-color: #e83b2b;
    color: #eee;
}

.homepage-item-list {
    color: #f9fafb;
}

.homepage-item-list .info-feature,
.homepage-item-list .info-recent {
    background: #77c0c7;
    font-family: PingFangSC;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
    text-align: left;
    height: 700px;
    color: #435257;
}

.homepage-item-list .info-feature a,
.homepage-item-list .info-recent a {
    color: #214f62;
}

.homepage-item-list .info-feature a:hover,
.homepage-item-list .info-recent a:hover {
    color: #125062;
}

.homepage-intro a:hover {
    color: #70d7cd;
}

.homepage-item-list .info-recent2 {
    height: inherit;
}

.homepage-item-list .info-feature ul,
.homepage-item-list .info-recent ul {
    display: block;
    line-height: 2em;
}

.homepage-item-list .info-feature .lead-label h2,
.homepage-item-list .info-recent .lead-label h2 {
    color: #214f62;
}

.homepage-item-list .info-feature .bg-border,
.homepage-item-list .info-recent .bg-border {
    border: 1px solid #214f62;
}

.homepage-item-list .info-feature2 a,
.homepage-item-list .info-recent2 a {
    color: #77c0c7;
}

.homepage-item-list .info-feature2 a:hover,
.homepage-item-list .info-recent2 a:hover {
    color: #50c7c4;
}

.homepage-item-list .info-feature2,
.homepage-item-list .info-recent2 {
    background: #214f62;
    font-family: PingFangSC;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
    text-align: left;
}

.homepage-item-list .info-feature2 ul,
.homepage-item-list .info-recent2 ul {
    margin: 120px auto;
    display: block;
    line-height: 2em;
}

.global-footer {
    background: #fafafa;
    padding-bottom: 40px;
    border-top: 3px #dcdcdc solid;
}

.global-footer .footer-logo {
    height: 67px;
    width: 146px;
    text-indent: -100%;
    overflow: hidden;
    margin: 40px 0 20px;
    background: url("/img/footer-logo.png") no-repeat;
}

.global-footer .footer-text {
    color: #7b7b7b;

}

.global-footer .footer-text.copyright {
    padding-left: 15px;
    padding-right: 30px;
}

.global-footer .lang-switch {
    margin-top: 40px;
    display: block;
    width: 162px;
    height: 40px;
    color: #7b7b7b;
    text-indent: 10px;
    -webkit-appearance: none;
}

#main {
    min-height: 660px;
}

#main .article.article-type-post {
}

#main .article.article-type-post h1 {
    color: #424343;
}

#main .article.article-type-post p,
#main .article.article-type-post li {
    color: #636465;
}

#main .article.article-type-post ul li {
    line-height: 2em;
}

#main .article.article-type-post a {
    color: #67c9c7;
}

#main .article.article-type-post h1,
#main .article.article-type-post h2,
#main .article.article-type-post h4,
#main .article.article-type-post h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
}

#main .article-entry > ul {
    padding-left: 1em;
}

#main figure {
    background: #2d2d2d;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    margin-bottom: 40px;
}

#main figure table {
    width: 100%;
    height: 100%;
}

#main figure table .gutter {
    display: none;
}

#main figure table .code {
    background: #2d2d2d;
}

#main figure table .code pre {
    background: #2d2d2d;
    color: #d8b584;
    border: none;
    margin-bottom: 0
}

#main figure table .code pre .line {
    border-bottom: 1px dashed #353535;
}

#main blockquote {
    margin-top: 60px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.icon-bar {
    background: #a6d4d7;
}

@media screen and (max-width: 768px) {
    .col-hide-xs {
        display: none !important;
    }

    .global-header {
        height: inherit !important;
    }

    .global-header nav {
        margin: 0;
    }

    .global-header .navbar-toggle {
        margin-top: 15px;
        margin-right: 7px;
    }

    .homepage-intro .lead-label {
        margin-top: 40px;
    }

    .homepage-intro p {
        text-indent: 2em;
        font-size: 14px;
    }

    .homepage-intro .download-button {
        text-indent: 0;
    }

    .homepage-item-list .info-item .lead-label {
        margin-top: 40px;
    }

    .homepage-item-list .info-item ul {
        margin: 40px 0;
        font-size: 13px !important;
    }

    .homepage-item-list .info-item {
        height: inherit;
    }

    .homepage-intro {
        height: inherit;
        padding-bottom: 20px;
    }

    .global-header .site-logo {
        margin: 8px 0 5px 0;
    }

    .global-footer .footer-logo {
        margin: 2rem;
    }

    .global-footer .lang-switch {
        width: 100px;
        border: 1px solid #666;
    }

}

@media screen and (width: 768px) {
    .col-hide-xs {
        display: block !important;
    }

    .global-header .lang-switch {
        width: 86px;
        text-indent: 10px;
    }
}

img {
    max-width: 90%;
}
