* {
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("images/backgroud.png");
  background-color: #ffffff;
  background-position: bottom;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-repeat: repeat-x;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

p {
  padding: 5px 0px 5px 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 38px;
  padding-top: 10px;
}

h2 {
  font-size: 26px;
  padding-top: 10px;
}

ul {
  margin-left: 0;
  padding-left: 20px;
}

img {
  border: none;
}

div#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 950px;
}

div#logo {
  height: 91px;
  width: 294px;
  padding-left: 160px;
  margin-top: -10px;
  float: left;
}

.one_col {
  text-align: left;
  float: left;
  padding-left: 177px;
  height: auto;
  width: 950px;
  font-size: 16px;
  padding-bottom: 20px;
}

.left_col {
  text-align: left;
  float: left;
  padding-left: 177px;
  height: auto;
  width: 580px;
  font-size: 16px;
  padding-bottom: 20px;
}

.right_col {
  text-align: left;
  float: left;
  padding-left: 20px;
  height: auto;
  width: 450px;
  font-size: 16px;
  padding-bottom: 20px;
}

.clear {
  clear: both;
}

.hr {
  height: 13px;
  background: url("images/hr.png") repeat-x;
}

.download {
  padding-top: 10px;
  padding-left: 110px;
}

.l20 {
  padding-left: 20px;
}

div#menu {
  margin-top: 0px;
  padding-left: 450px;
  width: 900px;
}

div#menu a {
  font-size: 18px;
  text-decoration: none;
  color: #333333;
}

div#menu #lang {
  font-size: 12px;
  background-color: #fff;
}

div#menu #lang a {
  font-size: 12px;
}

div#menu #lang a:hover {
  text-decoration: underline;
}

div#menu li:hover {
  background-color: #c8c8c8;
}

div#menu img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

div#menu ul {
  list-style: none;
}

div#menu li {
  display: inline;
  list-style-type: none;
  padding: 13px 7px 7px 7px;
  margin: 0px 10px 0px 0px;
  background-color: #e6e6e6;
  border-radius: 0px 0px 7px 7px;
  moz-border-radius: 0px 0px 7px 7px;
}

div#menu_cn {
  margin-top: 0px;
  padding-left: 500px;
  width: 730px;
}

div#menu_cn a {
  font-size: 18px;
  text-decoration: none;
  color: #333333;
}

div#menu_cn #lang {
  font-size: 12px;
  background-color: #fff;
}

div#menu_cn #lang a {
  font-size: 12px;
}

div#menu_cn #lang a:hover {
  text-decoration: underline;
}

div#menu_cn li:hover {
  background-color: #c8c8c8;
}

div#menu_cn img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

div#menu_cn ul {
  list-style: none;
}

div#menu_cn li {
  display: inline;
  list-style-type: none;
  padding: 13px 7px 7px 7px;
  margin: 0px 10px 0px 0px;
  background-color: #e6e6e6;
  border-radius: 0px 0px 7px 7px;
  moz-border-radius: 0px 0px 7px 7px;
}

div#copyright {
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
}

.date {
  color: #777;
  font-size: 12px;
  font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
}

.md5 {
  color: #777;
}

.more_padding {
  padding-bottom: 60px;
}

.font16 {
  font-family: 宋体;
  font-size: 16px;
  line-height: 20px
}

.module {
  margin: 20px auto 20px;
  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: bold
}

.directive {
  margin: 10px auto 10px;
  padding: 10px;
  background-color: #eee
}

pre {
  margin: 20px auto 20px
}

.dh {
  margin: 20px auto 20px;
  text-align: center;
  font-weight: bold
}

.mod_example {
  padding: 10px;
  background-color: #eee
}

div#faq p {
  margin: 0;
  padding: 0
}

div#faq li {
  margin-bottom: 10px;
  line-height: 20px
}

div#changelog ul {
  margin-top: 10px;
  margin-bottom: 20px
}

div#changlog  li {
  line-height: 20px
}